name = "minidebet"
main = "backend/worker/dist/worker.js"
compatibility_date = "2024-01-27"

[vars]
WORKERS_RS_VERSION = "0.7.0"

[[migrations]]
tag = "v1"
new_classes = ["MinidebetWorker"]

[build]
command = "cd backend/worker && worker-build --release"

[env.production]
workers_dev = false
route = { pattern = "api.minidebet.de/*", zone_name = "minidebet.de" }

[env.staging]
workers_dev = true

# D1 Database Configuration
[[ d1_databases ]]
binding = "DB"
database_name = "minidebet"
database_id = ""

[env.production]
workers_dev = false
route = { pattern = "api.minidebet.de/*", zone_name = "minidebet.de"}

# D1 Database Configuration
[[ d1_databases ]]
binding = "DB"
database_name = "minidebet"
database_id = ""