name = "minidebet"
main = "backend/src/main.rs"
compatibility_date = "2024-01-27"

[vars]
WORKERS_RS_VERSION = "0.7.0"

[[migrations]]
tag = "v1"
new_classes = ["MinidebetWorker"]

[build]
command = "cargo install -q worker-build && worker-build --release"

[env.production]
workers_dev = false
route = { pattern = "api.minidebet.de/*", zone_name = "minidebet.de" }

[env.staging]
workers_dev = true